.movie__item {
  &:not(:last-child) {
    @media screen and (max-width: $to-tablet) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
}
.movie__thumb {
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}
.movie__thumb > img {
  display: block;
  height: 100%;
  width: 100%;

  object-fit: cover;
}
.movie__item > a {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  &:hover,
  &:focus {
    // box-shadow: 0 6px 4px 0 #757575;
    box-shadow: 0 6px 14px 10px #3f3d3d;
    // opacity: 0.9;
  }
}
// .movie__link:hover,
// .movie__link:focus {
//   box-shadow: 7px -7px 21px #757575;
//   opacity: 0.9;
// }

.movie__text {
  padding: 5px;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: 0.06em;
}
.movie__title {
  margin-bottom: 4px;
  color: $text-color;
}

.movie__genre {
  // margin-bottom: 20px;
  color: $accent-color;
}
// ==============================overlay=============================
.one-card_overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 30%;
  background-color: rgba(78, 81, 83, 0.9);
  opacity: 0.9;
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: white;
  transform: translateY(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
}
.movie__item:hover .one-card_overlay {
  transform: translateY(0);
}

.btn_one-card {
  width: 90px;
  height: 30px;
  border: 1px solid $white-text-color;
  border-radius: 5px;
  background-color: transparent;
  color: $white-text-color;
  font-size: 10px;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid #ff6b01;
    background: #ff6b01;
    box-shadow: 0 8px 43px rgb(255 107 1 / 60%);
    transition-property: background-color;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
}
