// .movie__item {
//   flex-basis: calc((100% - 90px) / 3);
//   margin-left: 30px;
//   margin-top: 30px;
// }

// .movie__img {
//   width: 274px;
//   height: 398px;
// }
.movie__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
}
.movie__item > a {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.movie__link:hover,
.movie__link:focus {
  box-shadow: 0 4px 4px 0 $primaryTextColor;
}

.movie__text {
  padding: 20px 24px;
  border-left: 1px solid $cardBorderLine;
  border-bottom: 1px solid $cardBorderLine;
  border-right: 1px solid $cardBorderLine;
}

.movie__title {
  margin-bottom: 4px;

  color: $titleTextColor;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.movie__type {
  margin-bottom: 20px;

  color: $primaryTextColor;

  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}
