#pagination {
    margin: 0;
  
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 40px;

    @media screen and (min-width: 480px) {
      width: 480px;
    }
  
    @media screen and (min-width: $tablet) {
      width: 768px;
      padding-left: 75px;
      padding-right: 75px;
    }
  
    @media screen and (min-width: $desktop) {
      width: 1024px;
    }
  
    color: $text-color;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.333 !important;
  }
  
  .tui-pagination .tui-page-btn {
    background: rgb(247, 247, 247, 0.5);
    font-weight: 700 !important;
    line-height: 1.333 !important;
    border: none !important;
    border-radius: 50px !important;
    width: 38px !important;
    height: 38px !important;
    padding-top: 13px !important;
    margin-right: 1px !important;
    margin-left: 1px !important;
  
    @media screen and (min-width: 480px) {
      width: 40px !important;
      height: 40px !important;
    }
  
    &:hover,
    &:focus {
      background-color: $hover-color !important;
      color: $text-color !important;
    }
  }
  
  .tui-pagination .tui-page-btn.tui-is-selected {
    color: $white-text-color !important;
    background: $accent-color;
  
    &:hover,
    &:focus {
      background-color: $accent-color !important;
    }
  }
  
  .tui-pagination .tui-page-btn.tui-first,
  .tui-pagination .tui-page-btn.tui-last {
    background: $background-alternative-color;
    margin-right: 5px !important;
    margin-left: 5px !important;
    padding-top: 14px !important;
  
    &:hover,
    &:focus {
      background-color: $hover-color !important;
      color: $text-color !important;
    }
  }
  
  .tui-pagination .tui-page-btn.tui-prev,
  .tui-pagination .tui-page-btn.tui-next {
    display: none;
  
    @media screen and (min-width: 480px) {
      display: inline-block;
    }
  
    background: $background-alternative-color;
    padding: 15px 15px !important;
  
    &:hover,
    &:focus {
      background-color: $hover-color !important;
      color: $text-color !important;
    }
  }
  
  .tui-pagination .tui-page-btn.tui-prev-is-ellip,
  .tui-pagination .tui-page-btn.tui-next-is-ellip {
    display: none;
    padding: 4px 12px !important;
  
    @media screen and (min-width: 480px) {
      display: inline-block;
    }
  
    &:hover,
    &:focus {
      background-color: $hover-color !important;
      color: $text-color !important;
    }
  }
  