<div class="library">
    <h3 class="library-title">Oops...</h3>
    <p class="library-text">No movies have been added yet. Let's go pick something to your liking</p>
    <a class="library-button" href="">go to Home</a>
</div>