<div class="modal__reg">
  <button class="modal__btn--close" type="reset" data-modal-close>
    <svg
      class="close-svg"
      width="100%"
      height="100%"
      viewBox="0 0 30 30"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M8 8L22 22" stroke="black" stroke-width="2" />
      <path d="M8 22L22 8" stroke="black" stroke-width="2" />
    </svg>
  </button>
  <div class="container__reg--modal">
    <div class="card">
      <form class="card__form">
        <div class="reg__logo--wrapper">
          <img class="reg-img" src="./images/film.png" alt="site logo" />
          <h3 class="reg__title--logo">Filmoteka</h3>
        </div>
        <h2 class="reg__title--main">Sign in or Register</h2>
        <div class="input">
          <input
            type="email"
            class="input__field"
            id="js-form__input--email"
            name="email"
            autocomplete="off"
            required
          />
          <label class="input__label">Email</label>
        </div>
        <div class="input">
          <input
            type="password"
            class="input__field"
            id="js-form__input--password"
            name="password"
            autocomplete="off"
            required
          />
          <label class="input__label">Password (min 6 characters) </label>
        </div>
        <div class="auth__btn--wrapper">
          <!-- уточнить по стилям кнопки btn-->
          <button class="auth__btn js-modal__btn--signin btn" type="button">Sign in</button>
          <button class="auth__btn js-modal__btn--signup btn" type="button">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
