<div class="container">
    <ul class="list page-film">
        <!-- <li class="page-film_list">
            <a class="link" href="" target="_blank" rel="noopener noreferrer">
                <div >
                    <img class="page-film_img" src="#" width="274" alt="">
                </div>
                <div>
                <h2>Название</h2>
                <div class="page-film_description">
                    <p class="page-film_title">Жанры</p>
                    <p class="page-film_title">Год выпука</p>
                </div>
                </div>
            </a>
        </li>
        <li class="page-film_list">
            <a class="link" href="" target="_blank" rel="noopener noreferrer">
                <div>
                    <img class="page-film_img" src="#" width="274" alt="">
                </div>
                <div class="page-film_description">
                    <p>Жанры</p>
                    <p>Год выпука</p>
                </div>
            </a>
        </li>
        <li class="page-film_list">
            <a class="link" href="" target="_blank" rel="noopener noreferrer">
                <div>
                    <img class="page-film_img" src="#" width="274" alt="">
                </div>
                <div class="page-film_description">
                    <p>Жанры</p>
                    <p>Год выпука</p>
                </div>
            </a>
        </li>
        <li class="page-film_list">
            <a class="link" href="" target="_blank" rel="noopener noreferrer">
                <div>
                    <img class="page-film_img" src="#" width="274" alt="">
                </div>
                <div class="page-film_description">
                    <p>Жанры</p>
                    <p>Год выпука</p>
                </div>
            </a>
        </li>
        <li class="page-film_list">
            <a class="link" href="" target="_blank" rel="noopener noreferrer">
                <div>
                    <img class="page-film_img" src="#" width="274" alt="">
                </div>
                <div class="page-film_description">
                    <p>Жанры</p>
                    <p>Год выпука</p>
                </div>
            </a>
        </li>
        <li class="page-film_list">
            <a class="link" href="" target="_blank" rel="noopener noreferrer">
                <div>
                    <img class="page-film_img" src="#" width="274" alt="">
                </div>
                <div class="page-film_description">
                    <p>Жанры</p>
                    <p>Год выпука</p>
                </div>
            </a>
        </li> -->
    </ul> 
</div>  