<header class="header header_library">
  <div class="navigation-container">
    <a class="header-logo" href="">
      <svg class="header-logo__svg">
        <use class="logo__svg" href="./images/icons.svg#film"></use>
      </svg>
      <span class="logo-text">Filmoteka</span>
    </a>
    <nav>
      <ul class="nav-menu list">
        <li class="nav-menu__list">
          <a class="nav-menu__link" href="">HOME</a>
        </li>
        <li class="nav-menu__list">
          <a class="nav-menu__link library_current" href="">MY LIBRARY</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="toolbar"></div>
</header>
