<header class="header">
  <div class="navigation-container">
    <a class="header-logo" href="./index.html">
      <svg class="header-logo__svg icon-film ">
        <use class="logo__svg" href="./images/icons.svg#film"></use>
      </svg>
      <span class="logo-text">Filmoteka</span>
    </a>
    <nav>
      <ul class="nav-menu list">
        <li class="nav-menu__list">
          <a class="nav-menu__link current js-button-home" href="">HOME</a>
        </li>
        <li class="nav-menu__list">
          <a class="nav-menu__link js-button-libary" href="">MY LIBRARY</a>
          <!-- library_current -->
        </li>
      </ul>
    </nav>
  </div>
  <form action class="search-form">
    <input class="search-input" type="text" placeholder="Поиск фильмов" />
    <button class="search-button">
      <svg class="search-svg">
        <use href="./images/icons.svg#search"></use>
      </svg>
    </button>
  </form>

  <div class="toolbar">
    <!-- Разметка переключателя темы -->
    <div class="theme-switch">
      <svg class="theme-switch__icon" role="img" aria-label="Иконка солнца">
        <use href="./images/icons.svg#sun"></use>
      </svg>

      <div class="theme-switch__control">
        <input
          class="theme-switch__toggle"
          type="checkbox"
          name="theme"
          id="theme-switch-toggle"
          aria-label="Переключить между тёмной и светлой темой"
        />
        <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle"> </label>
        <div aria-hidden="true" class="theme-switch__marker"></div>
      </div>

      <svg class="theme-switch__icon" aria-label="Иконка луны">
        <use href="./images/icons.svg#moon"></use>
      </svg>
    </div>
  </div>
</header>

