<div class="backdrop is-hidden">
    <div class="modal">
        <div class="modal__window">
        <button type="button" class="modal__button-close">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 8L22 22" stroke="black" stroke-width="2"/>
                <path d="M8 22L22 8" stroke="black" stroke-width="2"/>
                </svg>
        </button>
        <div class="modal__content"><img src="./images/demo1.jpg" alt="" class="modal__img" >
       <div class="modal__about-film"> <h2 class="modal__title">A FISTFUL OF LEAD</h2>
        <div class="modal__ifno-section">
            <ul>
                <li class="modal__info-key">Vote / Votes</li>
                <li class="modal__info-key">Popularity</li>
                <li class="modal__info-key">Original Title</li>
                <li class="modal__info-key">Genre</li>
            </ul>
            <ul>
                <li class="modal__info-value">
                <span class="modal__rating">7.3</span> 
                    <span style="color: #8c8c8c;">/</span>
                    <span class="modal__votes">1260</span>
                </li>
                <li class="modal__info-value">100.2</li>
                <li class="modal__info-value">A FISTFUL OF LEAD</li>
                <li class="modal__info-value">Western </li>
            </ul>
        </div>
        <h3 class="moda__about-title">ABOUT</h3>
        <p class="modal__description">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve been double crossed – but by who and how?</p>
        <div class="modal__button-container">
            <button type="button" class="modal__button-watched">ADD TO WATCHED</button>
            <button type="button" class="modal__button-queue">ADD TO QUEUE</button>
        </div></div></div>
        </div>
    </div>
</div>