<div class="team__backdrop is-hidden">
  <div class="team__modal">
    <button class="team__modal--btn-close">
      <svg class="team__modal--close-svg" width="30" height="30">
        <use href="./images/team/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="team">
      <h2 class="team__title">Our team</h2>
      <ul class="team__list">
        <li class="team__item">
          <img
            class="team__photo"
            srcset="./images/team/oleksandr.jpg 1x, ./images/team/oleksandr@2x.jpg 2x"
            src="./images/team/oleksandr.jpg"
            alt="Oleksandr Marchenko"
            width="240"
          />
          <div class="team__box">
            <h3 class="team__name">Oleksandr Marchenko</h3>
            <div class="team__info">
              <p class="team__proffesion">Team Lead</p>
              <ul class="social">
                <li class="social__item">
                  <a
                    href="https://github.com/aomarchenko"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a
                    href="https://t.me/aomarchenko"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-telegram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <li class="team__item">
          <img
            class="team__photo"
            srcset="./images/team/ilya.jpg 1x, ./images/team/ilya@2x.jpg 2x"
            src="./images/team/ilya.jpg"
            alt="Ilya Kazanli"
            width="240"
          />
          <div class="team__box">
            <h3 class="team__name">Ilya Kazanli</h3>
            <div class="team__info">
              <p class="team__proffesion">Scrum Master</p>
              <ul class="social">
                <li class="social__item">
                  <a
                    href="https://github.com/tadden"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a
                    href="https://web.telegram.org//"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-telegram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <li class="team__item">
          <img
            class="team__photo"
            srcset="./images/team/ira.jpg 1x, ./images/team/ira@2x.jpg 2x"
            src="./images/team/ira.jpg"
            alt="Irina Sokolova"
            width="240"
          />
          <div class="team__box">
            <h3 class="team__name">Irina Sokolova</h3>
            <div class="team__info">
              <p class="team__proffesion">Frontend Developer</p>
              <ul class="social">
                <li class="social__item">
                  <a
                    href="https://github.com/"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a
                    href="https://t.me/Quanandry"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-telegram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <li class="team__item">
          <img
            class="team__photo"
            srcset="./images/team/dmitriy.jpg 1x, ./images/team/dmitriy@2x.jpg 2x"
            src="./images/team/dmitriy.jpg"
            alt="Dmitriy Baskakov"
            width="240"
          />
          <div class="team__box">
            <h3 class="team__name">Dmitriy Baskakov</h3>
            <div class="team__info">
              <p class="team__proffesion">Frontend Developer</p>
              <ul class="social">
                <li class="social__item">
                  <a
                    href="https://github.com/Disblis"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a
                    href="https:https://t.me/DBaskak"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-telegram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <li class="team__item">
          <img class="team__photo" srcset="./images/team/andrey.jpg 1x, ./images/team/andrey@2x.jpg
          2x" src="./images/team/andrey.jpg" alt="Andrey Vydirey width="240" />
          <div class="team__box">
            <h3 class="team__name">Andrey Vydiborec</h3>
            <div class="team__info">
              <p class="team__proffesion">Frontend Developer</p>
              <ul class="social">
                <li class="social__item">
                  <a
                    href="https://github.com/Vidiborets"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a
                    href="https://t.me/vidiboret"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-telegram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <li class="team__item">
          <img
            class="team__photo"
            srcset="./images/team/marina.jpg 1x, ./images/team/marina@2x.jpg 2x"
            src="./images/team/marina.jpg"
            alt="Marina"
            width="240"
          />
          <div class="team__box">
            <h3 class="team__name">Marina</h3>
            <div class="team__info">
              <p class="team__proffesion">Frontend Developer</p>
              <ul class="social">
                <li class="social__item">
                  <a
                    href="https://github.com/Marina-93"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a
                    href="https://web.telegram.org"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-telegram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="team__item">
          <img
            class="team__photo"
            srcset="./images/team/andrii.jpg 1x, ./images/team/andrii@2x.jpg 2x"
            src="./images/team/andrii.jpg"
            alt="Andrii Svyshch"
            width="240"
          />
          <div class="team__box">
            <h3 class="team__name">Andrii Svyshch</h3>
            <div class="team__info">
              <p class="team__proffesion">Frontend Developer</p>
              <ul class="social">
                <li class="social__item">
                  <a
                    href="https://github.com/andrii-svyshch"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a
                    href="https://t.me/svanstep"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-telegram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="team__item">
          <img
            class="team__photo"
            srcset="./images/team/volodymyr.jpg 1x, ./images/team/volodymyr@2x.jpg 2x"
            src="./images/team/volodymyr.jpg"
            alt="Volodymyr"
            width="240"
          />
          <div class="team__box">
            <h3 class="team__name">Volodymyr Dvorskyi</h3>
            <div class="team__info">
              <p class="team__proffesion">Frontend Developer</p>
              <ul class="social">
                <li class="social__item">
                  <a
                    href="https://github.com/Vladimirdemort"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a
                    href="https://t.me/Vladimirdemort"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-telegram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="team__item">
          <img
            class="team__photo"
            srcset="./images/team/bohdan.jpg 1x, ./images/team/bohdan@2x.jpg 2x"
            src="./images/team/bohdan.jpg"
            alt="Bohdan"
            width="240"
          />
          <div class="team__box">
            <h3 class="team__name">Bohdan</h3>
            <div class="team__info">
              <p class="team__proffesion">Frontend Developer</p>
              <ul class="social">
                <li class="social__item">
                  <a
                    href="https://github.com/Siriusb24"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a
                    href="https://t.me/Siriusb24"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-telegram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
