<div class="team__backdrop is-hidden">
  <div class="team__modal">
    <button class="team__modal--btn-close">
      <svg class="team__modal--close-svg" width="30" height="30">
        <use href="./images/team/icons.svg#icon-close"></use>
      </svg>
    </button>
    <!-- <div class="team">
      <h2 class="team__title">Our team</h2>
      <ul class="team__list">
        <li class="team__item">
          <img
            class="team__photo"
            srcset="./images/team/oleksandr.jpg 1x, ./images/team/oleksandr@2x.jpg 2x"
            src="./images/team/oleksandr.jpg"
            alt="Oleksandr Marchenko"
            width="240"
          />
          <div class="team__box">
            <h3 class="team__name">Oleksandr Marchenko</h3>
            <div class="team__info">
              <p class="team__proffesion">Team Lead</p>
              <ul class="social">
                <li class="social__item">
                  <a
                    href="https://github.com/"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a
                    href="https://web.telegram.org//"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-telegram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <li class="team__item">
          <img
            class="team__photo"
            srcset="./images/team/img.jpg 1x, ./images/team/img@2x.jpg 2x"
            src="./images/team/img.jpg"
            alt="Ilya Kazanli"
            width="240"
          />
          <div class="team__box">
            <h3 class="team__name">Ilya Kazanli</h3>
            <div class="team__info">
              <p class="team__proffesion">Scrum Master</p>
              <ul class="social">
                <li class="social__item">
                  <a
                    href="https://github.com/"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a
                    href="https://web.telegram.org//"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-telegram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <li class="team__item">
          <img
            class="team__photo"
            srcset="./images/team/img.jpg 1x, ./images/team/img@2x.jpg 2x"
            src="./images/team/img.jpg"
            alt="Irina Sokolova"
            width="240"
          />
          <div class="team__box">
            <h3 class="team__name">Irina Sokolova</h3>
            <div class="team__info">
              <p class="team__proffesion">Frontend Developer</p>
              <ul class="social">
                <li class="social__item">
                  <a
                    href="https://github.com/"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a
                    href="https://web.telegram.org//"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-telegram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <li class="team__item">
          <img
            class="team__photo"
            srcset="./images/team/img.jpg 1x, ./images/team/img@2x.jpg 2x"
            src="./images/team/img.jpg"
            alt="Dmitriy Baskakov"
            width="240"
          />
          <div class="team__box">
            <h3 class="team__name">Dmitriy Baskakov</h3>
            <div class="team__info">
              <p class="team__proffesion">Frontend Developer</p>
              <ul class="social">
                <li class="social__item">
                  <a
                    href="https://github.com/"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a
                    href="https://web.telegram.org//"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-telegram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <li class="team__item">
          <img
            class="team__photo"
            srcset="./images/team/img.jpg 1x, ./images/team/img@2x.jpg 2x"
            src="./images/team/img.jpg"
            alt="Andrey Vydiborec"
            width="240"
          />
          <div class="team__box">
            <h3 class="team__name">Andrey Vydiborec</h3>
            <div class="team__info">
              <p class="team__proffesion">Frontend Developer</p>
              <ul class="social">
                <li class="social__item">
                  <a
                    href="https://github.com/"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a
                    href="https://web.telegram.org//"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-telegram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <li class="team__item">
          <img
            class="team__photo"
            srcset="./images/team/img.jpg 1x, ./images/team/img@2x.jpg 2x"
            src="./images/team/img.jpg"
            alt="Marina"
            width="240"
          />
          <div class="team__box">
            <h3 class="team__name">Marina</h3>
            <div class="team__info">
              <p class="team__proffesion">Frontend Developer</p>
              <ul class="social">
                <li class="social__item">
                  <a
                    href="https://github.com/"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a
                    href="https://web.telegram.org//"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-telegram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="team__item">
          <img
            class="team__photo"
            srcset="./images/team/img.jpg 1x, ./images/team/img@2x.jpg 2x"
            src="./images/team/img.jpg"
            alt="Andrii Svyshch"
            width="240"
          />
          <div class="team__box">
            <h3 class="team__name">Andrii Svyshch</h3>
            <div class="team__info">
              <p class="team__proffesion">Frontend Developer</p>
              <ul class="social">
                <li class="social__item">
                  <a
                    href="https://github.com/"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a
                    href="https://web.telegram.org//"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-telegram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="team__item">
          <img
            class="team__photo"
            srcset="./images/team/img.jpg 1x, ./images/team/img@2x.jpg 2x"
            src="./images/team/img.jpg"
            alt="Volodymyr"
            width="240"
          />
          <div class="team__box">
            <h3 class="team__name">Volodymyr</h3>
            <div class="team__info">
              <p class="team__proffesion">Frontend Developer</p>
              <ul class="social">
                <li class="social__item">
                  <a
                    href="https://github.com/"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a
                    href="https://web.telegram.org//"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-telegram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="team__item">
          <img
            class="team__photo"
            srcset="./images/team/img.jpg 1x, ./images/team/img@2x.jpg 2x"
            src="./images/team/img.jpg"
            alt="Bohdan"
            width="240"
          />
          <div class="team__box">
            <h3 class="team__name">Bohdan</h3>
            <div class="team__info">
              <p class="team__proffesion">Frontend Developer</p>
              <ul class="social">
                <li class="social__item">
                  <a
                    href="https://github.com/"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a
                    href="https://web.telegram.org//"
                    class="social__link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="social__svg" width="20" height="20">
                      <use href="./images/team/icons.svg#icon-telegram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </div>
</div>
