.library {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  justify-content: center;
  padding-top: 60px;
  padding-left: 51px;
  padding-right: 51px;
  padding-bottom: 60px;
}
.library-title {
  line-height: 1.24;
  font-size: 30px;
  margin-bottom: 20px;
  color: $hover-color;
}
.library-text {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.19px;
}
.library-button {
  padding-left: 38px;
  padding-right: 38px;
  min-width: 136px;
  border: 1px solid $text-color;
  color: $text-color;
  background-color: $white-text-color;
  display: inline-block;
  padding: 14px 36.19px 12px;
  font-weight: $font-weight;
  line-height: 1.33333;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  border-radius: 5px;
  margin-top: 20px;

  &:hover {
    color: $white-text-color;
    border: 1px solid $hover-color;
    background: $hover-color;
    box-shadow: 0 8px 43px rgb(255 107 1 / 60%);
    transition-property: background-color;
    transition-duration: $transition-duration;
    transition-timing-function: $timing-function;
    cursor: pointer;
  }
}
